.main {
    display: flex;
    margin-top: 70px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1480px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.arrival__block {
    max-width: 592px;
    width: 100%;
    padding: 30px 0px;
    background: #ffffff;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.03);
}

.arrival__title {
    font-size: 18px;
    color: #42544f;
    letter-spacing: 0;
    display: block;
    padding-bottom: 25px;
    padding-left: 30px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 46px;
}
.arrival__date {
    margin-left: 30px;
}
.arrival__day-name {
    font-size: 24px;
    color: #42544f;
    letter-spacing: 0;
    text-transform: uppercase;
    font-family: "GT Bold", sans-serif;
    font-weight: 700;
}
.arrival__month {
    font-size: 18px;
    color: #42544f;
    letter-spacing: 0;
    text-transform: uppercase;
}
.arrival__day {
    font-size: 110px;
    color: #c27030;
    letter-spacing: 0;
    font-family: "GT Italic", sans-serif;
    font-weight: 700;
}
.arrival__path {
    font-size: 24px;
    color: #42544f;
    letter-spacing: 0;
    padding: 0 30px;
    margin-bottom: 22px;
    margin-top: 35px;
}

.tracking__button {
    padding: 0 30px 0 30px;
}

.tracking__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #c2c2c2;
    letter-spacing: 0;
    padding: 17px 0;
    background: none;
    border: 2px solid #e4e4e4;
    border-radius: 3px;
    cursor: pointer;
}

.show-all-shipments-link {
    margin: 30px;
    cursor: pointer;
}

.show-all-shipments-link span {
    text-decoration: underline;
}
